.content{
    width: 15rem;
}
.container-cards{
    overflow-y: hidden; 
    overflow-x: auto;
    width: auto;
/* height: 5rem; */
padding: 10px;
white-space: nowrap;
}

.card-image{
    width: auto;
    // height: fit-content;
}